@model GetUserDTO
<head>
    <link rel="stylesheet" href="~/css/UserStyles.css" />
</head>
<body>
    <form asp-action="Index" method="get">

        <fieldset>
            <legend>Buscar usuario de GitHub</legend>
                <div class="contenedor">
                    <input type="text" name="Username" placeholder="Introduce tu usuario de github" required />              
                </div>
                <div class="botones">
                    <button type="submit">Buscar</button>
                </div>
        </fieldset>
    </form>
    <div>
        @if (ViewBag.Error != null)
        {
            <p style="color:red;">@ViewBag.Error</p>
        }
    </div>

    @if (Model != null)
    {
        <div class="card">
            <div class="card-content">

                <img class="perfil" src="@Model.AvatarUrl" alt="Avatar usuario" />

                <div class="datos">
                    <p><strong>Nombre Real:</strong> @Model.Name</p>
                    <p><strong>Usuario:</strong> @Model.Login</p>
                    <p><strong>Seguidores:</strong> @Model.Followers</p>
                    <p><strong>Seguidos:</strong> @Model.Following</p>
                    <p><strong>Repositorios Públicos:</strong> @Model.PublicRepos</p>
                    <p>
                        <strong>Perfil:</strong>
                        <a href="@Model.HtmlUrl" target="_blank">@Model.HtmlUrl</a>
                    </p>
                </div>
                <div class="biografia">
                    <p><strong>Biografía:</strong> @Model.Bio</p>
                </div>

            </div>
        </div>
    }
</body>
